.posts-list {
    margin: 0;
    padding: 0;
}

.posts-list > li {
    list-style-type: none;
}

.post-title > a {
    font-size: 1.5em;
    color: inherit;
    font-weight: bold;
    font-family: 'Libre Baskerville', Helvetica, serif;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 15px;
}

.post-info {
    opacity: 0.7;
    margin-bottom: 1em;
}

.posts-list-home .post-title > a {
    font-size: 2em;
}

.post-content {
    margin-bottom: 1em;
}

/*COMMENT*/

.comment {
    border-bottom: 1px solid rgba(204, 204, 204, 0.55);
    padding: 45px 30px;
}

.comment:last-child {
    border-bottom: 1px solid rgba(204, 204, 204, 0.55);
}

.comment .name {
    font-family: 'Libre Baskerville', Helvetica, serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 15px;
}

.comment .content {
    margin-bottom: 30px;
}

.comment .date {
    opacity: 0.5;
    font-size: 14px;
}