.posts-list {
    margin: 0;
    padding: 0;
}

.posts-list > li {
    list-style-type: none;
}

.post-title > a {
    font-size: 1.5em;
    color: inherit;
    font-weight: bold;
    font-family: 'Libre Baskerville', Helvetica, serif;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 15px;
}

.post-info {
    opacity: 0.7;
    margin-bottom: 1em;
}

.posts-list-home .post-title > a {
    font-size: 2em;
}

.post-content {
    margin-bottom: 1em;
}